{% comment %} prev and next {% endcomment %}
{%- if page.url != "/search.html" and page.url != "/404.html" -%}
    {%- if next or prev -%}
        <div class="navigation-bottom d-flex flex-justify-between py-3" role="navigation" aria-label="footer navigation">
            <div class="prev">
                {%- if prev -%}
                    <a href="{{ prev.url | relative_url }}" class="btn" title="{{ prev.title }}" accesskey="p" rel="prev">
                        <i class="fa fa-arrow-circle-left"></i> {{ __.previous | default: "Previous" }}
                    </a>
                {%- endif -%}
            </div>
            <div class="next">
                {%- if next -%}
                    <a href="{{ next.url | relative_url }}" class="btn" title="{{ next.title }}" accesskey="n" rel="next">
                        {{ __.next | default: "Next" }} <i class="fa fa-arrow-circle-right"></i>
                    </a>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
{%- endif -%}

<hr>



<script type="text/javascript" src="https://santroller.tangentmc.net/assets/js/lightbox.js"></script>
<link rel="stylesheet" href="https://santroller.tangentmc.net/assets/css/lightbox.css">